<div class="row">
  <p style="font:15px/1.5 Arial, sans-serif; margin-bottom:10px">
    <strong><span style="color:#1D8DB0">Floris De Feyter</span></strong>
  </p>
  <p style="font:13px/1.5 Arial, sans-serif; margin:0 0 10px">
  PhD Researcher at EAVISE
  </p>
  <p style="font:13px/1.5 Arial, sans-serif; margin:0 0 10px">
    <strong>Faculty of Engineering Technology</strong><br>
    Jan De Nayerlaan 5<br>
    2860 Sint-Katelijne-Waver<br>
    tel. +32 15 31 69 44<br>
    <a href="https://www.eavise.be/" style="color:#1D8DB0">
      <span style="color:#1D8DB0">www.eavise.be</span>
    </a>
  </p>
  <img 
  src="https://gitlab.com/EAVISE/logo/raw/0445231fbe258e41366ec2859753e0b5de8393eb/color/kul_eavise_100.png" 
  style="margin-top: 0px; height: 50px;">
  <p style="font:13px/1.5 Arial, sans-serif; text-transform: uppercase; color: #1D8DB0; margin: 10px 0 0 0">
  Technology Campus De Nayer Sint-Katelijne-Waver
  </p>
</div>
